<!DOCTYPE html>
<html ng-app="{%= name %}App">
  <head>
    <title>Titulo</title>
    <link rel='stylesheet' href='../assets/vendor/normalize.css/normalize.css' />
    <link rel='stylesheet' href='../assets/stylesheets/style.css' />

    <script src="../assets/vendor/angular/angular.min.js"></script>
    <script src="../assets/vendor/angular-route/angular-route.min.js"></script>
    <script src="../assets/vendor/angular-resource/angular-resource.min.js"></script>

    <script src="../assets/javascripts/main.min.js"></script>
  </head>
  <body>
    <div ng-view></div>
  </body>
</html>